Telegram Asistan.json
{
  "name": "Telegram Asistan",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        -64
      ],
      "id": "3f1d3124-e26e-46e3-961e-2850f77493d1",
      "name": "Telegram Trigger",
      "webhookId": "eb8e7c1b-708d-4a51-9e3a-28407132f7f0",
      "credentials": {
        "telegramApi": {
          "id": "RVm3wD4nsxY6qug5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36cb5ffc-c2cf-4740-bf4c-ae9acc9692f0",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -64
      ],
      "id": "121039e5-bf41-4b8b-a32a-22a75f40119c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a65f040a-9ffa-488e-844d-f5ea0c56a939",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        -64
      ],
      "id": "07e14970-1aa6-456a-80bb-71c06943d52f",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        -144
      ],
      "id": "0dc99716-f662-4362-9e89-53cbdb384a87",
      "name": "Get a file",
      "webhookId": "7bad7029-6e3c-4158-85f0-aa1427455530",
      "credentials": {
        "telegramApi": {
          "id": "RVm3wD4nsxY6qug5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d8a6da0-b14c-4a0c-8102-37091a2b68a9",
              "name": "chatinput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        80
      ],
      "id": "36c7db4a-a69d-4b65-8540-e9428053256c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -112
      ],
      "id": "d9daa0ed-0f31-4ed0-aba7-be0b530e3eb0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -224,
        -144
      ],
      "id": "645ac643-d851-4756-8b68-0e92eae7fb59",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "o0nj2qf7ymZ2jH7g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        -32
      ],
      "id": "b5f0a30b-acd9-45e3-8ae3-713625e9cdcf",
      "name": "Send a text message",
      "webhookId": "a35bbdd6-dceb-459d-82e7-b90a02b34a60",
      "credentials": {
        "telegramApi": {
          "id": "RVm3wD4nsxY6qug5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Bu HTTP arama motorundan bilgi toplayacak",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": " Serper API Key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\":\"{{ $json.chatinput }}\",\n  \"gl\":\"tr\",\n  \"hl\":\"tr\"} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        64,
        192
      ],
      "id": "44557dfc-50af-43b2-9b26-84ad46154830",
      "name": "Arama"
    },
    {
      "parameters": {
        "toolDescription": "Bu HTTP haberlerden bilgi toplayacak",
        "method": "POST",
        "url": "https://google.serper.dev/maps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": " Serper API Key "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\":\"{{ $json.chatinput }}\",\"hl\":\"tr\",\"ll\":\"@40.66028000 ,29.32361000 ,16z\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        416,
        192
      ],
      "id": "80061a55-04c4-4255-a89c-4d4bcf200193",
      "name": "Haritalar"
    },
    {
      "parameters": {
        "toolDescription": "Bu HTTP akademik bilgi toplayacak",
        "method": "POST",
        "url": "https://google.serper.dev/scholar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": " Serper API Key "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\":\"{{ $json.chatinput }}\",\n  \"gl\":\"tr\",\n  \"hl\":\"tr\"} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        240,
        192
      ],
      "id": "b61cb50a-067d-4f6f-b89e-f3a96430b62e",
      "name": "Akademik"
    },
    {
      "parameters": {
        "toolDescription": "Bu HTTP haberlerden bilgi toplayacak",
        "method": "POST",
        "url": "https://google.serper.dev/news",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": " Serper API Key "
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"q\":\"{{ $json.chatinput }}\",\n  \"gl\":\"tr\",\n  \"hl\":\"tr\"} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        592,
        192
      ],
      "id": "a08eff51-ebf9-4263-a89e-76e925308c6a",
      "name": "Haberler"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatinput }}",
        "options": {
          "systemMessage": "Kullanıcının sorularına cevap vermek için Haberler, Haritalar, Akademik ve Arama araçlarını kullanan bir yapay zekasın. Sen de olmayan bilgiler için araçları kullan"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        96,
        -16
      ],
      "id": "472aa2ee-387c-4cbd-b03e-ff2f4e1caab3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        192
      ],
      "id": "53ab28df-122b-4fef-a780-1fe782e61fed",
      "name": "Memory"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -224,
        192
      ],
      "id": "8c7d7973-7bde-447e-9ec0-eb1b53497417",
      "name": "LLM",
      "credentials": {
        "groqApi": {
          "id": "EQpMUMivAILNrhc1",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arama": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Haritalar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Akademik": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Haberler": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ddfb8be-8010-4749-90a8-f8c0d1e18641",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f4bff775a856c1823ad990d39363d9217a86dff3299aa6fd714091cb740e860"
  },
  "id": "016Pa1xmoYFZbLFS",
  "tags": []
}